<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Apagar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedRequests()" [disabled]="!selectedRequests || !selectedRequests.length"></button>
                    </div>
                </ng-template>
                <!-- <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template> -->
            </p-toolbar>

            <p-table #dt [value]="serviceRequests" responsiveLayout="scroll" [rows]="10" [paginator]="true" [(selection)]="selectedRequests" selectionMode="multiple" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                        <th pSortableColumn="pet">Pet <p-sortIcon field="pet"></p-sortIcon></th>
                        <th pSortableColumn="tutor">Tutor <p-sortIcon field="tutor"></p-sortIcon></th>
                        <th pSortableColumn="service">Serviço <p-sortIcon field="service"></p-sortIcon></th>
                        <th pSortableColumn="date">Data da Solicitação <p-sortIcon field="date"></p-sortIcon></th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-request>
                    <tr>
                        <td><p-tableCheckbox [value]="request"></p-tableCheckbox></td>
                        <td>{{ request.pet }}</td>
                        <td>{{ request.tutor }}</td>
                        <td>{{ request.service }}</td>
                        <td>{{ request.date | date:'dd/MM/yyyy' }}</td>
                        <td>
                            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editRequest(request)"></button>
                            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteRequest(request)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="requestDialog" [style]="{width: '450px', maxHeight: '70vh'}" header="Detalhes da Solicitação" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form (ngSubmit)="saveServiceRequest()" #serviceRequestForm="ngForm">
                    <div class="field">
                        <label for="pet">Pet</label>
                        <p-dropdown [options]="pets" [(ngModel)]="serviceRequest.pet" name="pet" optionLabel="name" placeholder="Selecione o Pet" required></p-dropdown>
                        <small class="p-error" *ngIf="submitted && !serviceRequest.pet">Campo Pet é obrigatório.</small>
                    </div>
                    <div class="field">
                        <label for="tutor">Tutor</label>
                        <p-dropdown [options]="tutors" [(ngModel)]="serviceRequest.tutor" name="tutor" optionLabel="name" placeholder="Selecione o Tutor" required></p-dropdown>
                        <small class="p-error" *ngIf="submitted && !serviceRequest.tutor">Campo Tutor é obrigatório.</small>
                    </div>
                    <div class="field">
                        <label for="service">Serviço</label>
                        <p-dropdown [options]="services" [(ngModel)]="serviceRequest.service" name="service" optionLabel="name" placeholder="Selecione o Serviço" required></p-dropdown>
                        <small class="p-error" *ngIf="submitted && !serviceRequest.service">Campo Serviço é obrigatório.</small>
                    </div>
                    <div class="field">
                        <label for="date">Data da Solicitação</label>
                        <p-calendar [(ngModel)]="serviceRequest.date" name="date" dateFormat="dd/mm/yy" [locale]="ptBr" appendTo="body"  required></p-calendar>
                        <small class="p-error" *ngIf="submitted && !serviceRequest.date">Campo Data da Solicitação é obrigatório.</small>
                    </div>
                </form>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveServiceRequest()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteRequestDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="serviceRequest">Tem certeza de que deseja excluir a solicitação de <b>{{ serviceRequest.pet }}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteRequestDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteRequestsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Tem certeza de que deseja excluir as solicitações selecionadas?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteRequestsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>