<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Apagar" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedPets()" [disabled]="!selectedPets || !selectedPets.length"></button>
                    </div>
                </ng-template>

                <!-- <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template> -->
            </p-toolbar>

            <p-table #dt [value]="pets" responsiveLayout="scroll" [rows]="10" [paginator]="true"
                [(selection)]="selectedPets" selectionMode="multiple" dataKey="key">
                <ng-template pTemplate="header">
                    <tr>
                        <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                        <th pSortableColumn="nome">Nome do Pet <p-sortIcon field="nome"></p-sortIcon></th>
                        <th pSortableColumn="especie">Espécie <p-sortIcon field="especie"></p-sortIcon></th>
                        <th pSortableColumn="idade">Idade <p-sortIcon field="idade"></p-sortIcon></th>
                        <th pSortableColumn="dataNascimento">Data de Nascimento <p-sortIcon
                                field="dataNascimento"></p-sortIcon></th>
                        <th pSortableColumn="peso">Peso <p-sortIcon field="peso"></p-sortIcon></th>
                        <th pSortableColumn="sexo">Sexo <p-sortIcon field="sexo"></p-sortIcon></th>
                        <th pSortableColumn="cor">Cor <p-sortIcon field="cor"></p-sortIcon></th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pet>
                    <tr>
                        <td><p-tableCheckbox [value]="pet"></p-tableCheckbox></td>
                        <td>{{ pet.nome }}</td>
                        <td>{{ pet.especie }}</td>
                        <td>{{ pet.idade }}</td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Data de Nascimento</span>
                            {{ pet.dataNascimento }}
                        </td>
                        <td>{{ pet.peso }} kg</td>
                        <td>{{ pet.sexo }}</td>
                        <td>{{ pet.cor }}</td>
                        <td>
                            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                (click)="editPet(pet)"></button>
                            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="deletePet(pet)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>

        <p-dialog [(visible)]="petDialog" [style]="{width: '450px', maxHeight: '70vh'}" header="Cadastro de Pets"
            [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'assets/demo/images/product/' + pet.image" [alt]="pet.image" width="150"
                    class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="pet.image">

                <!-- Nome -->
                <!-- Nome -->
<div class="field">
    <label for="nome">Nome</label>
    <div style="display: flex; align-items: center; gap: 0.5rem;">
        <i class="pi pi-user" style="font-size: 1.2rem; color: #6c757d;"></i> <!-- Ícone adicionado -->
        <input type="text" pInputText id="nome" [(ngModel)]="pet.nome" required autofocus
            [ngClass]="{'ng-invalid ng-dirty' : submitted && !pet.nome}" placeholder="Digite o Nome do seu Pet" />
    </div>
    <small class="p-error" *ngIf="submitted && !pet.nome">Campo Nome não preenchido.</small>
</div>

<!-- Idade -->
<div class="field">
    <label for="idade">Idade</label>
    <div style="display: flex; align-items: center; gap: 0.5rem;">
        <i class="pi pi-calendar" style="font-size: 1.2rem; color: #6c757d;"></i> <!-- Ícone adicionado -->
        <input type="number" pInputText id="idade" [(ngModel)]="pet.idade" required min="0" max="25"
            placeholder="Digite a Idade de seu Pet" />
    </div>
    <small class="p-error" *ngIf="submitted && (!pet.idade || pet.idade < 0)">Campo Idade não preenchido ou inválido.</small>
</div>

<!-- Data de Nascimento -->
<div class="field">
    <label for="dataNascimento">Data de Nascimento</label>
    <div style="display: flex; align-items: center; gap: 0.5rem;">
        <i class="pi pi-calendar-plus" style="font-size: 1.2rem; color: #6c757d;"></i> <!-- Ícone -->
        <p-calendar appendTo="body" id="dataNascimento" [(ngModel)]="pet.dataNascimento" dateFormat="dd/mm/yy"
            required [locale]="ptBr" style="flex: 1;" placeholder="Selecione a Data de Nascimento">
        </p-calendar>
    </div>
    <small class="p-error" *ngIf="submitted && !pet.dataNascimento">Campo Data de Nascimento não preenchido.</small>
</div>

<!-- Espécie -->
<div class="field">
    <label class="mb-3">Espécie</label>
    <div style="display: flex; align-items: center; gap: 0.5rem;">
        <i class="pi pi-paw" style="font-size: 1.2rem; color: #6c757d;"></i> <!-- Ícone adicionado -->
        <div class="formgrid grid" style="flex: 1;">
            <div class="field-radiobutton col-6">
                <p-radioButton id="category1" name="category" value="Cachorro" [(ngModel)]="pet.especie"></p-radioButton>
                <label for="category1">Cachorro</label>
            </div>
            <div class="field-radiobutton col-6">
                <p-radioButton id="category2" name="category" value="Gato" [(ngModel)]="pet.especie"></p-radioButton>
                <label for="category2">Gato</label>
            </div>
            <div class="field-radiobutton col-6">
                <p-radioButton id="category3" name="category" value="Peixes" [(ngModel)]="pet.especie"></p-radioButton>
                <label for="category3">Peixes</label>
            </div>
            <div class="field-radiobutton col-6">
                <p-radioButton id="category4" name="category" value="Exóticos" [(ngModel)]="pet.especie"></p-radioButton>
                <label for="category4">Exóticos</label>
            </div>
        </div>
    </div>
    <small class="p-error" *ngIf="submitted && !pet.especie">Campo Espécie não preenchido.</small>
</div>

<!-- Peso -->
<div class="field">
    <label for="peso">Peso (kg)</label>
    <div style="display: flex; align-items: center; gap: 0.5rem; width: 100%;">
        <i class="pi pi-tag" style="font-size: 1.2rem; color: #6c757d;"></i> <!-- Ícone de tag -->
        <input type="number" pInputText id="peso" placeholder="Digite o peso" [(ngModel)]="pet.peso" required min="0"
            style="flex: 1; height: 2.5rem;" /> <!-- Campo ajustado -->
    </div>
    <small class="p-error" *ngIf="submitted && (!pet.peso || pet.peso <= 0)">Campo Peso não preenchido ou inválido.</small>
</div>

<!-- Sexo -->
<div class="field">
    <label for="sexo">Sexo</label>
    <div style="display: flex; align-items: center; gap: 0.5rem;">
        <i class="pi pi-users" style="font-size: 1.2rem; color: #6c757d;"></i> <!-- Ícone adicionado -->
        <div style="flex: 1;"><p-dropdown appendTo="body" [(ngModel)]="pet.sexo"
            [options]="[{label:'Macho', value:'Macho'}, {label:'Fêmea', value:'Fêmea'}, {label:'Outro', value:'Outro'}]"
            placeholder="Selecione o Sexo"></p-dropdown></div>
    </div>
    <small class="p-error" *ngIf="submitted && !pet.sexo">Campo Sexo não preenchido.</small>
</div>

<!-- Cor -->
<div class="field">
    <label for="cor">Cor</label>
    <div style="display: flex; align-items: center; gap: 0.5rem;">
        <i class="pi pi-palette" style="font-size: 1.2rem; color: #6c757d;"></i> <!-- Ícone adicionado -->
        <div style="flex: 1;"><p-dropdown appendTo="body" [(ngModel)]="pet.cor"
            [options]="[{label:'Preto', value:'Preto'}, {label:'Branco', value:'Branco'}, {label:'Marrom', value:'Marrom'}, {label:'Cinza', value:'Cinza'}, {label:'Caramelo', value:'Caramelo'}, {label:'Outro', value:'Outro'}]"
            placeholder="Selecione a Cor"></p-dropdown></div>
    </div>
    <small class="p-error" *ngIf="submitted && !pet.cor">Campo Cor não preenchido.</small>
</div>




            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text"
                    (click)="savePet()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePetDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="pet">Tem certeza de que deseja excluir <b>{{ pet.nome }}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deletePetDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePetsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Tem certeza de que deseja excluir os pets selecionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deletePetsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>