<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPets()" [disabled]="!selectedPets || !selectedPets.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="pets" responsiveLayout="scroll" [rows]="10" [paginator]="true" [(selection)]="selectedPets" selectionMode="multiple" dataKey="key">
                <ng-template pTemplate="header">
                    <tr>
                        <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                        <th pSortableColumn="nome">Nome do Pet <p-sortIcon field="nome"></p-sortIcon></th>
                        <th pSortableColumn="especie">Espécie <p-sortIcon field="especie"></p-sortIcon></th>
                        <th pSortableColumn="idade">Idade <p-sortIcon field="idade"></p-sortIcon></th>
                        <th pSortableColumn="dataNascimento">Data de Nascimento <p-sortIcon field="dataNascimento"></p-sortIcon></th>
                        <th pSortableColumn="peso">Peso <p-sortIcon field="peso"></p-sortIcon></th>
                        <th pSortableColumn="sexo">Sexo <p-sortIcon field="sexo"></p-sortIcon></th>
                        <th pSortableColumn="cor">Cor <p-sortIcon field="cor"></p-sortIcon></th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pet>
                    <tr>
                        <td><p-tableCheckbox [value]="pet"></p-tableCheckbox></td>
                        <td>{{ pet.nome }}</td>
                        <td>{{ pet.especie }}</td>
                        <td>{{ pet.idade }}</td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Data de Nascimento</span>
                            {{ pet.dataNascimento }}
                        </td>
                        <td>{{ pet.peso }} kg</td>
                        <td>{{ pet.sexo }}</td>
                        <td>{{ pet.cor }}</td>
                        
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" (click)="editPet(pet)"></button>
                            <button pButton pRipple icon="pi pi-trash" (click)="deletePet(pet)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            
        </div>

        <p-dialog [(visible)]="petDialog" [style]="{width: '450px', maxHeight: '70vh'}" header="Pet Details" [modal]="true" class="p-fluid">

            <ng-template pTemplate="content">
                <img [src]="'assets/demo/images/product/' + pet.image" [alt]="pet.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="pet.image">
                <div class="field">
                    <label for="nome">Nome</label>
                    <input type="text" pInputText id="nome" [(ngModel)]="pet.nome" required autofocus 
                           [ngClass]="{'ng-invalid ng-dirty' : submitted && !pet.nome}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !pet.nome">Nome é obrigatório.</small>
                </div>
                <div class="field">
                    <label for="idade">Idade</label>
                    <input type="number" pInputText id="idade" [(ngModel)]="pet.idade" required />
                </div>
                <div class="field">
                    <label for="dataNascimento">Data de Nascimento</label>
                    <p-calendar id="dataNascimento" [(ngModel)]="pet.dataNascimento" dateFormat="dd/mm/yy"></p-calendar>
                </div>
                

                <div class="field">
                    <label class="mb-3">Especie</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category1" name="category" value="Cachorro" [(ngModel)]="pet.especie"></p-radioButton>
                            <label for="category1">Cachorro</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category2" name="category" value="Gato" [(ngModel)]="pet.especie"></p-radioButton>
                            <label for="category2">Gato</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category3" name="category" value="Peixes" [(ngModel)]="pet.especie"></p-radioButton>
                            <label for="category3">Peixes</label>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton id="category4" name="category" value="Exóticos" [(ngModel)]="pet.especie"></p-radioButton>
                            <label for="category4">Exóticos</label>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label for="peso">Peso (kg)</label>
                    <input type="number" pInputText id="peso" [(ngModel)]="pet.peso" required />
                </div>
                <div class="field">
                    <label for="sexo">Sexo</label>
                    <p-dropdown [(ngModel)]="pet.sexo" [options]="[{label:'Masculino', value:'Masculino'}, {label:'Feminino', value:'Feminino'}, {label:'Outro', value:'Outro'}]" placeholder="Selecione o sexo"></p-dropdown>
                </div>
                <div class="field">
                    <label for="cor">Cor</label>
                    <input type="text" pInputText id="cor" [(ngModel)]="pet.cor" required 
                           pattern="[A-Za-zÀ-ÿ\s]*"
                           (keypress)="allowLettersOnly($event)"/>
                </div>
                
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savePet()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePetDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="pet">Are you sure you want to delete <b>{{pet.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deletePetDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePetsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected pets?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deletePetsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
